In [1]:
import numpy as np 
import matplotlib as plt 
from sklearn.linear_model import LinearRegression

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('airline.csv')

In [3]:
data

                     +/v8-airline  incidents+AF8-1  incidents+AF8-2
0                    Thai Airways              308                2
1                Turkish Airlines               64                8
2       United / Continental+ACo-              319               14
3  US Airways / America West+ACo-              224               11
4                Vietnam Airlines              171                1
5                 Xiamen Airlines               82                2
6                           Swiss              229                3