In [36]:
import numpy as np 
import matplotlib as plt 
from sklearn.linear_model import LinearRegression

In [35]:
import pandas as pd

In [34]:
import pandas as pd
import seaborn as sns
import os

In [4]:
data = pd.read_csv('airline.csv')

In [6]:
airline = data.airline

In [8]:
incidents = data.incidents

In [9]:
incidents_2 = data.incidents_2

In [10]:
from sklearn.preprocessing import LabelEncoder

In [14]:
label_encoder = LabelEncoder()

In [12]:
array_data = data.iloc[:].values

In [13]:
array_data

array([['Thai Airways', 308, 2],
       ['Turkish Airlines', 64, 8],
       ['United / Continental+ACo-', 319, 14],
       ['US Airways / America West+ACo-', 224, 11],
       ['Vietnam Airlines', 171, 1],
       ['Xiamen Airlines', 82, 2],
       ['Swiss', 229, 3]], dtype=object)

In [16]:
data

                          airline  incidents  incidents_2
0                    Thai Airways        308            2
1                Turkish Airlines         64            8
2       United / Continental+ACo-        319           14
3  US Airways / America West+ACo-        224           11
4                Vietnam Airlines        171            1
5                 Xiamen Airlines         82            2
6                           Swiss        229            3

In [17]:
new_data = data.drop(['airline'],axis = 1)

In [18]:
new_data

   incidents  incidents_2
0        308            2
1         64            8
2        319           14
3        224           11
4        171            1
5         82            2
6        229            3

In [19]:
array_data = new_data.iloc[:].values

In [20]:
array_data

array([[308,   2],
       [ 64,   8],
       [319,  14],
       [224,  11],
       [171,   1],
       [ 82,   2],
       [229,   3]], dtype=int64)

In [21]:
y = data.incidents_2

In [22]:
x= data.incidents

In [23]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [26]:
X_train

2    319
5     82
0    308
3    224
1     64
Name: incidents, dtype: int64

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
linreg = LinearRegression

In [29]:
linreg.fit(X_train, y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [37]:
plt.scatter(X_train, y_train)

AttributeError: module 'matplotlib' has no attribute 'scatter'